.about-container {
  display: flex;
  background-color: white;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 2em;
}


