.footer{
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    height: 75px;
    margin: 0;
    align-items: center;
    justify-content: start;
}

a{
    color: #036;
    text-decoration: none;
    margin-left: 32px;
}

.divider {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}