.footer{
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    height: 75px;
    margin: 0;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;

    a{
        color: #036;
        text-decoration: none;
        margin-left: 32px;
    }

}

.footer-content{
  padding: 32px
}

.footer-text-container{
  padding-top: 16px;
}

.privacy-text{
    color: #036;
    text-decoration: none;
}
