.footer{
    background-color: #fff;
    display: flex;
    flex-grow: 1;
    height: 75px;
    margin: 0;
    align-items: center;
    justify-content: start;
}

a{
    color: #036;
    text-decoration: none;
    margin-left: 32px;
}