.FormPanel {
  display: flex;
  width: 100%;
  height: 500px;   
  background-color: #223f75;
  justify-content: center;
}

.inputsContainer {
  height: 75%;
  width: 80%;
  justify-content: center;
  background-color: yellow;
}

.headerBar {
  background-color: #003366;
  height: 50px;
  padding: 0.5em;
  text-align: right;
}

.meese {
  background-color: white;
  height: 100%;
  width: 100%;
}

.addMooseButton {
  background-color:#FCBA19;
  border-color: initial;
  color: #003366;
  height: 100%;
  padding:0.3em 1.2em;
  border-radius:2em;
  margin: 5px
}

.addMooseButton:hover {
  background-color:#f4cb64;
}

.recordLocationButton {
  background-color:#FCBA19;
  border-color: initial;
  color: #003366;
  height: 100%;
  padding:0.3em 1.2em;
  border-radius:2em;
  margin: 5px
}

.recordLocationButton:hover {
  background-color:#f4cb64;
}

.moose{
  margin: 1px;
  border: #223f75 1px solid;
}

#ageSelector {
  margin-left: 5px
}